.workspace-container {
    //background-image: linear-gradient(to right bottom, #5d5d5d, #474747, #333333, #1f1f20, #090a0b);
    background-image: linear-gradient(0deg, rgba(29,29,29,1) 0%, rgba(93,93,93,1) 91%);

    //background-image: linear-gradient( 110.3deg,  rgba(93,93,93,1) 8.8%, rgba(93,93,93,1) 95.1% );    //linear-gradient(to right bottom, #5d5d5d, #2c3e50);
    //linear-gradient(to right, #5d5d5d, #2c3e50);
    //background-image: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background-color: #5D5D5D;
    height: 100vh;
    margin: 40px 8px 0 8px;

    .side-bar {
        cursor: pointer;
        margin-inline-start: 16px;
        margin-inline-end: 32px;
        width: 270px;
        background: #5D5D5D;
        font-weight: bold;
        color: $clr1;

        > * {
            width: 100%;
            padding: 6px 8px 6px 0;
            &.active {
                //background-color: #e4f0f6;
                background-color: #5D5D5D;
            }
        }
    }

    .boards-wrapper {
        width: 100%;
        max-width: 1000px;
        min-width: 288px;
        direction : rtl;
        > *:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    .preview-title {
        color: #E7AD00;
        font-size: 16px;
        font-weight: 700;
        margin-inline-start: 5px;
        margin-top: 6px;
        margin-bottom: 11px;
        > *:first-child {
            font-size: 21.5px;
            margin-inline-end: 10px;
        }

        svg {
            width: 25px;
            height: 25px;
        }
    }

    @include for-wide-layout {
        margin: 40px 0 0 0;
    }
}
